@import url("https://fonts.googleapis.com/css2?family=Macondo&family=Montserrat:ital,wght@0,100;0,200;0,300;1,100&family=Permanent+Marker&display=swap");

/* Body */

body {
  background-image: url(../assets/img/fondo.jpg);
  font-family: "Neuton";
  background-size: cover;
  background-attachment: fixed;
  overflow-x: hidden;
}

h1, h2 {
  font-family: "Neuton";
  text-align: center;
  padding: 0.5rem;
  background: linear-gradient(to bottom right, #000000, #f1f1da, #ffffff);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* Intro */

.intro{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  z-index: 1;
  background:url(../assets/img/fondointro.jpg);
  transition: 7s;
}

.intro img{
  top: 30px;
  position: absolute;
}

.intro p{
  color: grey;
  font-size: 3rem;
  margin-top: 450px;
  font-family: "Neuton";
}

.logos{
  font-size: 3rem;
  color: #fff;
  font-family: "Neuton";
}

.marca{
    letter-spacing: 50px;
    font-size: 3rem;
    color: white;
    position: relative;
    display: inline-block;
    bottom: -20px;
    opacity: 0;
    font-family: "Neuton";
}

.marca.active{
  bottom: 0;
  opacity: 1;
  transition: ease-in-out .7s;
}

.marca.fade{
  bottom: 250px;
  opacity: 0;
  transition: ease-in-out .7s;
}

/* Navbar */

.navbar{
  background-image: url(../assets/img/fondomodal.jpeg);
}

.navbar-brand {
  font-family: "Neuton";
  background: linear-gradient(to bottom right, #a7a4a4, #9e9e9a, #ffffff);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2.5rem;
  padding: 0px;
}

/* Titulo */

.cartel{
  font: 400 1em/1.5 "Neuton";
  background: #090d00;
  color: rgba(255,255,255,.7);
  text-align: center;
  margin: 0
}

.tit {
	text-transform: uppercase;
	letter-spacing: .5em;
	display: inline-block;
	border: 4px double rgba(255,255,255,.7);
	border-width: 4px 0;
	padding: 1.5em 0em;
	position: relative;
	top: 18%;
	width: 40em;
	text-align: center;}
  
.span2 {

      font: 700 4em/1 "Oswald", sans-serif;
      letter-spacing: 0;
      padding: .25em 0 .325em;
	    display: block;
	    margin: 0 auto;
      text-shadow: 0 0 80px rgba(255,255,255,.7);

/* Clip Background Imagen */

background: url(../assets/img/fondomodal.jpeg) repeat-y;
-webkit-background-clip: text;
background-clip: text;

/* Animacion Background Imagen */

-webkit-text-fill-color: transparent;
-webkit-animation: aitf 20s linear infinite;
animation: aitf 20s linear infinite;

/* Activacion animaciones */

-webkit-transform: translate3d(0,0,0);
transform: translate3d(0,0,0);
-webkit-backface-visibility: hidden;
backface-visibility: hidden;

}

/* Animacion Background Imagen */

@-webkit-keyframes aitf {
0% { background-position: 0% 50%; }
100% { background-position: 100% 50%; }
}
@keyframes aitf {
  0% { background-position: 0% 50%; }
  100% { background-position: 100% 50%; }
}

/* Tienda on line */

.btnn{
  letter-spacing: .2em;
  background-image: url(../assets/img/fondogift.jpeg);
  width: 180px;
  height: 120px;
  justify-content:space-between;
  border: none;
  margin: 5px 94px;
  padding: 5px 30px;
  font-family: "Neuton";
  color:rgb(255, 255, 255);
  font-weight: bolder;
  box-shadow: 1px 1px 5px #fff;
  border: solid rgba(3, 133, 255, 0) 2px;
}

main{
  display: flex;
  flex-wrap:wrap;
  justify-content: space-between;
  margin: 3px auto;
  max-width: 1200px;
  padding: 0 50px;
}

.card2 {
  background-image: url(../assets/img/fondointro.jpg);
  color: #fff;
  box-shadow: 1px 1px 5px #fff;
  border: solid rgba(3, 133, 255, 0) 2px;
  width: 250px;
  height: 250px;
  font-family: 'Macondo', cursive;
  font-size: 0.3rem;
  text-align: center;
  justify-content: space-between;
  padding: 0.5em;
  margin: 25px;
  transition: all 500ms linear;
 }
 
  .card2:hover{
    filter: sepia(60%);
    -webkit-transform:scale(1.1);
    transform:scale(1.1);
}

.card2 .card-title {
  font-size: 1.1rem;
  background: linear-gradient(to bottom right, #f80202, #f8fc05, #320dda);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent; }

.card-text {
  font-family: 'Macondo', cursive;
  font-size: 0.8rem; }

.img {
  width: 50%;
  display:inline-block;
  margin-left: auto;
  margin-right: auto; }

.btn {
  background: linear-gradient(to right, #d20bec, #462b16, #d20bec);
  border: none;
  font-size: 10px;
  }

.btn:hover{
  background-color: rgba(87, 77, 77, 0.8);
}

#boton-carrito{
  background-color: rgba(0, 0, 0, 0.7);
}

/* Modal */

  .modal-contenedor {
    position: fixed;
    top: 0;
    width: 99%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content:space-between;
    align-items:center;
    transition: all .5s;
    opacity: 0;
    visibility: hidden;
}

.modal-active {
    opacity: 1;
    visibility: visible;
    z-index: 1;
    position: absolute;
    justify-content:end;
}

.modal-carrito {
    background-image: url(../assets/img/fondointro.jpg);
    position: relative;
    background-color: rgba(0, 0, 0, 0.4);
    min-width: 100px;
    padding: 25px;
    margin-top: -100%;
    transition: all .5s;
    border-radius: 20px;
    box-shadow: 2px 1px 2px #fff;
    border: solid rgba(3, 133, 255, 0) 2px;
}

.modal-active .modal-carrito {
    margin-top: auto;
}

.modal-carrito h3 {
    color: rgb(227, 230, 238);
    padding-bottom: 5px;
    font-size: 1.5rem;
}
.modal-carrito #carritoCerrar {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.7);
    border: none;
    background-color: white;
}
.modal-carrito #carritoCerrar:hover {
    cursor: pointer;
}
.modal-carrito #carritoCerrar:focus {
    outline: none;
}
.modal-carrito .precioProducto {
    padding-top: 15px;
    color: #fff;
    font-size: 1.2rem;
    background-color: rgba(0, 0, 0, 0.1);
    
}
.modal-carrito .img{
  width: 50px;
  height: 50px;
}

.productoEnCarrito {
    border-left: 5px solid rgb(230, 199, 173);
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    margin: 5px 0;
    padding: 5px 0px;
    display: flex;
    justify-content: space-between;
    color: #fff;
    border-radius: 50%;
}
.productoEnCarrito:hover {
    border-left: 5px solid rgb(255, 0, 0);
}

.boton-eliminar {
    background-color: rgba(0, 0, 0, 0.1);
    color: rgb(255, 255, 255);
    border: none;
    font-size: 1.2rem;
}

.boton-eliminar:hover {
    cursor: pointer;
}
.boton-eliminar:focus {
    outline: none;
}

/* Contacto */

  .card{
    background: rgba(0, 0, 0, 0.7);
    border: none;
    outline: none;
    border-bottom: 2px solid #50ff1b;
    height: 100px;
    width: 200px;
    margin: auto;
    padding: 15px;
    margin-bottom: 5px;
    border-radius: 50px;
    font-size: 0.9rem;
    color: #fff;
    font-family: "Neuton";
}

.contacto{
    color: grey;
    text-decoration: none;
}

/* Footer */
.text-center {
  margin-top: 7px;
  background-color: rgba(255, 255, 255, 0.1); }

/* Media Queries Smartphone */

@media screen and (max-width: 767px) {
  .logo {
    width: 35px;
    height: 35px; }
  .navbar-brand {
    font-size: 1.5rem; }
    h1, h2{
      font-size: 1.5rem;
    }
    .modal-carrito{
      background-image: url(../assets/img/fondomodal.jpeg);
      text-align:start;
      justify-content: space-around;
      min-width: 370px;
   }
   .cartel{
    display:flex;
    justify-content:center;
    
   }
   .tit{
    font-size: 0.5rem;
   }
   .span2{
    font-size: 2rem;
   }
   .card2{
    justify-content: center;
    width: auto;
    height: auto;
   }
   .gift{
    font-size: 0.7rem;
   }
  } 

/* Media Queries Tablet */

@media screen and (max-width: 1024px) and (min-width: 768px){
      .modal-carrito{
        background-image: url(../assets/img/fondomodal.jpeg);
        text-align:start;
        justify-content: space-around;
        min-width: 600px;
      }
      .cartel{
        display:flex;
        justify-content: center; 
      }
      .tit{
        font-size: 1rem;
       }
       .span{
        font-size: 4rem;
       }
  }